
{% extends 'homepage/index.html' %}

{% block mainWeb %}

 <div class="to">
            <div class="form">
                <h2>Đăng nhập thành viên</h2>
                <label style="margin-left: -150px;">Tên Đăng Nhập</label>
                <input type="text" name="tenDangNhap">
                <label style="margin-left: -180px;">Mật Khẩu</label>
                <input type="text" name="matKhauDangNhap"> 
                <input class="submit" type="submit" name="submit" value="Đăng Nhập">
                <input class="submit" type="submit" name="submit" value="Quên Mật Khẩu">
            </div>                
</div>  

{% endblock %}