{% load static %}
<div class="characteristics">
    <div class="container">
        <div class="row">

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/dichvu.png' %}" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Dịch Vụ Đẳng Cấp</div>
                        <div class="char_subtitle">Chúng tôi mang đến những sản phẫm và dịch vụ cực đẳng cấp</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
             <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/giohang.png' %}" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Dịch Vụ Đẳng Cấp</div>
                        <div class="char_subtitle">Chúng tôi mang đến những sản phẫm và dịch vụ cực đẳng cấp</div>
                    </div>
                </div>
            </div>
            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/shipper.png' %}" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Dịch Vụ Đẳng Cấp</div>
                        <div class="char_subtitle">Chúng tôi mang đến những sản phẫm và dịch vụ cực đẳng cấp</div>
                    </div>
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/toanha.jpg' %}" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Dịch Vụ Đẳng Cấp</div>
                        <div class="char_subtitle">Chúng tôi mang đến những sản phẫm và dịch vụ cực đẳng cấp</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>