{% load static %}
<div class="characteristics">
    <div class="container">
        <div class="row">

            <!-- Char. Item -->
    

        <div class="col-lg-3 col-md-6 char_col">

            <div class="flip3D-BannerFrist">
                <div class="flip3d-forn">
                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                         <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/nhaCungCap.png' %}" alt=""></div>
                            <div class="char_content">
                                <div class="char_title">Nhà cung cấp đa dạng</div>
                                <div class="char_subtitle"></div>
                            </div>
                    </div>
                 </div>

                <div class="flip3d-back">
                    <div class="char_item d-flex flex-row align-items-center justify-content-start">
                            <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/gioHang.png' %}" alt=""></div>
                            <div class="char_content">
                                <div class="char_title">Nhiều mặt hàng phong phú</div>
                                <div class="char_subtitle"></div>
                            </div>
                    </div>
                </div>

            </div>
        </div>

            <!-- Char. Item -->
             
        <div class="col-lg-3 col-md-6 char_col">

                <div class="flip3D-BannerFrist">
                    <div class="flip3d-forn">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                             <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/giaoHang.png' %}" alt=""></div>
                                <div class="char_content">
                                    <div class="char_title">Giao hàng cực nhanh</div>
                                    <div class="char_subtitle"></div>
                                </div>
                        </div>
                     </div>
    
                    <div class="flip3d-back">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                                <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/ketNoi.png' %}" alt=""></div>
                                    <div class="char_content">
                                        <div class="char_title">Tương tác khách hàng cực tốt</div>
                                        <div class="char_subtitle"></div>
                                    </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <!-- Char. Item -->
            
        <div class="col-lg-3 col-md-6 char_col">

                <div class="flip3D-BannerFrist">
                    <div class="flip3d-forn">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                                <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/gioHang.png' %}" alt=""></div>
                                <div class="char_content">
                                    <div class="char_title">Nhiều mặt hàng phong phú</div>
                                    <div class="char_subtitle"></div>
                                </div>
                        </div>
                     </div>
    
                    <div class="flip3d-back">
                        <div class="char_item d-flex flex-row align-items-center justify-content-start">
                                <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/nhaCungCap.png' %}" alt=""></div>
                                    <div class="char_content">
                                        <div class="char_title">Nhà cung cấp đa dạng</div>
                                        <div class="char_subtitle"></div>
                                    </div>
                        </div>
                    </div>
    
                </div>
            </div>

            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">

                    <div class="flip3D-BannerFrist">
                        <div class="flip3d-forn">
                            <div class="char_item d-flex flex-row align-items-center justify-content-start">
                                 <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/ketNoi.png' %}" alt=""></div>
                                    <div class="char_content">
                                        <div class="char_title">Tương tác khách hàng cực tốt</div>
                                        <div class="char_subtitle"></div>
                                    </div>
                            </div>
                         </div>
        
                        <div class="flip3d-back">
                            <div class="char_item d-flex flex-row align-items-center justify-content-start">
                                    <div class="char_icon"><img src="{% static 'homepage/images/bannerFirst/nhaCungCap.png' %}" alt=""></div>
                                        <div class="char_content">
                                            <div class="char_title">Nhà cung cấp đa dạng</div>
                                            <div class="char_subtitle"></div>
                                        </div>
                            </div>
                        </div>
        
                    </div>
                </div>


            
        </div>
    </div>
</div>