{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <figure class="snip1477">
                <img src="{% static 'homepage/images/bannerproduct/note102.jpg' %}" alt="">
                <div class="title">
                  
                </div>
                <figcaption>
                  <p>GaLaXy Note 10</p>
                  <p>Sản phẫm mới nhất cua sam sung</p>
                  <button id="btn_hot_xemChiTiet">Xem Chi Tiet</button>
                </figcaption>
              </figure>
        </div>
        <div class="col-md-4">
            <figure class="snip1477">
                <img src="{% static 'homepage/images/bannerproduct/note102.jpg' %}" alt="">
                <div class="title">
                  
                </div>
                <figcaption>
                  <p>GaLaXy Note 10</p>
                  <p>Sản phẫm mới nhất cua sam sung</p>
                  <button id="btn_hot_xemChiTiet">Xem Chi Tiet</button>
                </figcaption>
              </figure>
    </div>
</div>