{% extends 'homepage/index.html' %}
{% load static %}

{% block mainWeb %}

<div class="h1_title"><h1>{{listscan.cate_name}}</h1></div>

<div class="container-fluid padding">
        <div class="row padding">
        {% for item in productcate %}
            <div class="col-md-3">
            <a href="/chiTietSanPham/{{item.id}}">
                <div class="card" id="card_details">
                        <div class="inner">
                            <img class="card-img-top" src= "{% static 'media/' %}{{item.pro_image}}"  alt="">
                        </div>
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="Xem chi tiet">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Đánh dấu">
                                    <i class="fa fa-heart"></i>
                            </button>
                            <form action="{% url 'cart:cart_add' item.id %}" method="post">
				                {% csrf_token %}
				                {{ cart_product_form }}
				                <button type="button" class="btn btn-secondary" title="Giỏ hàng">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </form>
                           
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">{{item.pro_name}}</h4>
                        <p class="card-text">{{item.price}} VND</p>
            
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>
</div>
    

{% endblock %}