{% load static %}
<!-- Deals of the week -->

<div class="deals_featured">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">

                <!-- Deals -->



                <!-- Featured -->
                <div class="featured">
                    <div class="tabbed_container">
                        <div class="tabs">
                            <ul class="clearfix">
                                <li class="active">Sản Phẩm Mới Nhất</li>
                                <li>Xếp Hạng Cao Nhất</li>
                            </ul>
                            <div class="tabs_line"><span></span></div>
                        </div>

                        <!-- Product Panel san pham moi nhat -->
                        <div class="product_panel panel active">
                            <div class="featured_slider slider">

                                <!-- Slider Item -->
                                {% for item in products %}

                                <div class="featured_slider_item">
                                    <div class="border_active"></div>
                                    <a href="/chiTietSanPham/{{item.id}}">
                                        <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                            <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                                <div class="inner">
                                                    <img class="image_SPCT" src="{% static 'media/'%}{{item.pro_image}}" alt="{{item.pro_name}}">
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <div class="product_price">{{item.price}}VND<span></span></div>
                                                <div class="product_name">
                                                    <div>
                                                        <a href="#">{{item.pro_name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="overlay">
                                                <button type="button" class="btn btn-secondary" title="Xem chi tiet" onclick="showDialog()">
													<i class="fa fa-eye"></i>
												</button>
                                                </button>
                                                <button type="button" class="btn btn-secondary" title="Đánh dấu">
														<i class="fa fa-heart"></i>
												</button>
                                                <button type="button" class="btn btn-secondary" title="Thêm vào giỏ hàng">
														<i class="fa fa-shopping-cart"></i>
												</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                {% endfor %}
                            </div>
                            <div class="featured_slider_dots_cover"></div>
                        </div>
                        <!-- Product Panel san pham xếp hạng cao nhất -->
                        <div class="product_panel panel">
                            <div class="featured_slider slider">

                                {% for item in vote %}

                                <div class="featured_slider_item">
                                    <div class="border_active"></div>
                                    <a href="/chiTietSanPham/{{item.id}}">
                                        <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                            <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                                <div class="inner" id="spCuaTuan_img">
                                                    <img class="image_SPCT" src="{% static 'media/'%}{{item.pro_image}}" alt="{{item.pro_name}}">
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <div class="product_price">{{item.price}}VND<span></span></div>
                                                <div class="product_name">
                                                    <div>
                                                        <a href="#">{{item.pro_name}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="overlay">
                                                <button type="button" class="btn btn-secondary" title="Xem chi tiet" onclick="showDialog()">
													<i class="fa fa-eye"></i>
												</button>
                                                </button>
                                                <button type="button" class="btn btn-secondary" title="Đánh dấu">
														<i class="fa fa-heart"></i>
												</button>
                                                <button type="button" class="btn btn-secondary" title="Thêm vào giỏ hàng">
														<i class="fa fa-shopping-cart"></i>
												</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                {% endfor %}
                            </div>



                        </div>
                        <div class="featured_slider_dots_cover"></div>
                    </div>

                    <!-- Product Panel san pham yeu thich-->
                    <div class="product_panel panel">
                        <div class="featured_slider slider">

                            {% for item in products %}

                            <div class="featured_slider_item">
                                <div class="border_active"></div>
                                <a href="/chiTietSanPham/{{item.id}}">
                                    <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="product_image d-flex flex-column align-items-center justify-content-center">
                                            <div class="inner">
                                                <img class="image_SPCT" src="{% static 'media/'%}{{item.pro_image}}" alt="{{item.pro_name}}">
                                            </div>
                                        </div>
                                        <div class="product_content">
                                            <div class="product_price">{{item.price}}VND<span></span></div>
                                            <div class="product_name">
                                                <div>
                                                    <a href="#">{{item.pro_name}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="overlay">
                                            <button type="button" class="btn btn-secondary" title="Xem chi tiet" onclick="showDialog()">
											<i class="fa fa-eye"></i>
										</button>
                                            </button>
                                            <button type="button" class="btn btn-secondary" title="Đánh dấu">
												<i class="fa fa-heart"></i>
										</button>
                                            <button type="button" class="btn btn-secondary" title="Thêm vào giỏ hàng">
												<i class="fa fa-shopping-cart"></i>
										</button>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            {% endfor %}
                        </div>



                    </div>
                    <div class="featured_slider_dots_cover"></div>
                </div>


            </div>
        </div>

    </div>
</div>
</div>
</div>