/*.to {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}
 
.form {
    border: 1px solid #80808000;
    height: 450px;
    width: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 30px;
    left: 100%;
    margin-top: 5px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
   
}
h2 {
    color: crimson;
    margin-top: 50px;
    margin-bottom: 30px;
}

label {
    margin-left: -126px;
    display: block;
    font-weight: lighter;
 
}
input{
    display: block;
    border-bottom: 2px solid rgb(253, 14, 14);
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
}
input[type="text"] {
    padding: 5px;
    width: 70%;
}
 
.submit {
    padding: 7px;
    width: 50%;
    border-radius: 10px;
    border: none;
    
    bottom: 10px;
    background: linear-gradient(to right, #0061f1, #0e7274);
}
.submit:hover{
 
    background: linear-gradient(to right, #050505, #3f5efb); 
}