
/*.to {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}
 
.form {
    border: 1px solid #80808000;
    height: 549px;
    width: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 30px;
    left: 100%;
    margin-top: 5px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
   
}
h2 {
    color: crimson;
    margin-top: 50px;
    margin-bottom: 30px;
}

label {
    margin-left: -126px;
    display: block;
    font-weight: lighter;
 
}
input{
    display: block;
    border-bottom: 2px solid rgb(253, 14, 14);
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
}
input[type="text"] {
    padding: 5px;
    width: 70%;
}
 
input#submit {
    padding: 7px;
    width: 50%;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 10px;
  
    background: linear-gradient(to right, #0061f1, #0e7274);
}
input#submit:hover{
 
    background: linear-gradient(to right, #050505, #3f5efb); 
}

/*--------------
        phan quickView 
-------------------*/
.modal_quickView{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
#form_dangKy{
    background: rgb(61, 163, 163);
    color: cornsilk;
    padding: 55px;
    width: 500px;

}
#btn_dangKy{
    width: 100px;
    height: 40px;
    margin-left: 100px;
    background: rgb(153, 173, 36);
    border: 2px solid rgb(214, 32, 32);
    border-radius: 15px;
}
input#id_username{
    width: 250px;
    margin-left: 54px;
}
input#id_email{
    width: 250px;
    margin-left: 82px;
}
input#id_password1{
    width: 250px;
    margin-left: 63px;
}
input#id_password2{
    width: 250px;
    margin-left: 10px;
}

