.cart-body{
    background: rgb(182, 184, 104);
    height: 300px;
    margin-top: 35px;
}

.cart-page-product img{
    width: 150px;
    height: 150px;
    margin-left: 15px;
}
.thanhtoan{
    background: rgb(233, 134, 6);
}
.cart-page-product{
    margin-top: 35px;
    
}
.img-wrap img{
    width: 150px;
    height: 150px;
}
.card-product{
    margin-top: 10px;
}
.action-wrap{
    width: auto;
    height: 330px;
    background: #adb17e;
    border-radius: 10px;
}
.tongQuanThanhToan{
    padding: 25px;
}
.bt_btnthanhtoan{
    margin-top: -50px;
    border-radius: 10px;
}
#tienHanhThanhToan{
    margin-top: 5px;
    width: 360px;
    border-radius: 10px;
}
#thanhToanQuaThe{
    margin-top: 5px;
    width: 360px;
    border-radius: 10px;
}
#quayLaiMuaHang{
    margin-top: 5px;
    width: 360px;
    border-radius: 10px;
}
.remove_chiTiet_inPut{
    width:350px;
    
    top:70%;
}
.cart_soLuong_inPut{
    float: right;
}
.cart_soLuong_inPut p{
    margin-top: 5px;
}
.btn_remove_xemChiTiet{
    float: left;
    background: rgb(18, 40, 243);
    border-radius: 5px;
    width: 100px;
    padding: 0px;
    border: 1px solid;
    color: aliceblue;
}
.btn_remove_xemChiTiet p{
    margin: 8px;
}
.btn_remove_gioHang{
    margin-left:10px; 
    background: rgb(255, 8, 8);
    border-radius: 5px;
    width: 100px;
    padding: 0px;
    border: 1px solid;
    color: aliceblue;
}
.btn_remove_gioHang p{
    margin: 8px;
}