.cart-body{
    background: rgb(182, 184, 104);
    height: 300px;
    margin-top: 35px;
}

.cart-page-product img{
    width: 150px;
    height: 150px;
    margin-left: 15px;
}
.thanhtoan{
    background: rgb(233, 134, 6);
}
.cart-page-product{
    margin-top: 35px;
    
}
.img-wrap img{
    width: 150px;
    height: 150px;
}
.card-product{
    margin-top: 10px;
}
.action-wrap{

    width: auto;
    height: 330px;
    background: #adb17e;
    border-radius: 10px;
}
.tongQuanThanhToan{
  
    padding: 25px;
}
.bt_btnthanhtoan{
    margin-top: -50px;
    border-radius: 10px;
}
#tienHanhThanhToan{
    margin-top: 5px;
    width: 360px;
    border-radius: 10px;
}
#thanhToanQuaThe{
    margin-top: 5px;
    width: 360px;
    border-radius: 10px;
}
#quayLaiMuaHang{
    margin-top: 5px;
    width: 360px;
    border-radius: 10px;
}