.carousel-inner img {
    height: 350px;
    width: 100%;
    position: relative;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  .header_main
{
	background: linear-gradient(rgb(241, 241, 195),rgb(236, 214, 11));
	z-index: 1;
	
}