.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top:10%;
    margin-left: 0;
    width: 70px;
    
}
.card:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}